.content_area{width: 1400px; margin: 0 auto; }

.content_area .item_area{margin-bottom: 50px;}
.content_area .item_area .item_list{justify-content: space-between; display: flex; flex-wrap: wrap;}
.content_area .item_list li{display: flex; flex-direction: column; margin-bottom: 50px; 
    transition: all .3s ease-out;}
.content_area .item_list li div{width: 450px; height: 420px; border-radius: 5px;
    overflow: hidden;
    transition: all .2s ease-out;}
.content_area .item_list li:hover div{box-shadow: rgba(0, 0, 0, .3) 1px 1px 10px .5px;}
.content_area .item_list li div img{width: 450px; height: 420px; margin-bottom: 15px;
    transform: scale(1.1);
    transition: all .5s ease-out;
}
.content_area .item_list li:hover div img{transform: scale(1);}
.content_area .item_list li span{width: 330px; font-size: 1.2rem; font-weight: 500;
     margin: 20px auto 0; text-align: center;}





.tab_menu{width: 80px; display: flex; justify-content: space-between; margin: 0 auto 150px;}
.tab_menu button{width: 35px; height: 35px; border-radius: 5px; background: #fbfbfb;
    font-size: 1.2rem; border: 1px solid #999; color: #666;
    transition: all .3s ease-out; cursor: pointer; padding-top: 2px;}
.tab_menu button:hover{background: #B8A080; color: #fff;}
